footer {
  display: flex;
  flex-flow:column;
  font-family: 'Dosis', sans-serif;

}

.thanks-end{
  display: flex;
  padding:20px;
  background-color: #333;
  font-weight: 600;
  color: #F2B21B;
  justify-content: center;

}

.footer-end {
  font-weight: 600;
  color: black;
  background-image: url(../images/footer-bg.png);
  background-size: 20%;
  display:flex;
  flex-flow: row wrap;
  align-self: stretch;
  align-items: stretch;
  padding:10px 20px;
}

.footer-end a {
  display:flex;
  flex-grow:1;
  justify-content: flex-start;
  text-decoration: none;
  color:black;
  font-weight: 800;
}

.footer-end p{
  display:flex;
  justify-content: flex-end;
}

.pink {
  color: #ff44a9;
}

.purple {
  color: #856ffb;
}

.green {
  color: #45d8dd;
}

.yellow {
  color:#F2B21B;
}
