footer {
  display: flex;
  flex-flow:column;
  font-family: 'Dosis', sans-serif;

}

.thanks-end{
  display: flex;
  padding:20px;
  background-color: #333;
  font-weight: 600;
  color: #F2B21B;
  justify-content: center;

}

.footer-end {
  font-weight: 600;
  color: black;
  background-image: url(../images/footer-bg.png);
  background-size: 20%;
  padding:20px 0 0 20px;
}

.footer-end a {
  text-decoration: none;
  color:black;
  font-weight: 800;
}

