header {
  background-color: black;
  display: inline-flex;
  flex-flow: row wrap;
  padding:20px;
  align-content: stretch;
}

.site-title {
  margin: 0 0 0 20px;
  display: flex;
  flex-flow:row wrap-reverse;
  justify-content: flex-start;
  font-family: 'Dosis', sans-serif;
  align-content: center;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
}

.site-title img {
  display: flex;
}

nav {
  background-color: black;
  display: inline-flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  font-family: 'Dosis', sans-serif;
}

.nav-links {
  display: inline-flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: flex-end;
  text-transform: lowercase;
  list-style: none;
  padding-left: 0;

}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-item a {
 text-decoration: none;
}

.nav-link-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFCC00;
}

.nav-link-text:hover {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.nav-toggle {
  font-size: 1.5rem;
}

.nav-toggle:hover {}

.links-container {
  height: 0;
  overflow: hidden;
}

.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  
}