header {
  background-color: #333333;
  display: flex;
  flex-flow: column wrap;
  align-content: stretch;
  top:0;
  position:sticky;
  position:-webkit-sticky;
  z-index: 999;
}


header button {
  background: #333333;
  border: none;
  box-shadow:#333333 0px 0px;
  border-radius: 0;
  padding: 10px 25px;
}

header button:hover {
  background: #333333;
  box-shadow:#333333 0px 0px;
}

.site-title {
  display: flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding:5px 20px;
}

.site-title a {
  display: flex;
  flex-flow:column;
  padding: 10px 0;
}

nav {
  display:flex;
  flex-flow:column;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-flow: column;
  padding:0;
  text-decoration: none;
  text-align: center;
  gap:2rem;
}

.nav-links ul {
  list-style: none;
}


.nav-link-text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFCC00;
}


.nav-link-item {
  text-decoration: none;
  list-style: none;
}

.nav-link-item a {
  text-decoration: none;
 }

.nav-toggle {
  font-size: 1rem;
}

.nav-toggle:hover {}

.links-container {
  height: 0;
  overflow: hidden;
}

.show-container {
  height: auto;
}

@media (min-width: 913px) and (max-width: 1920px){
  header {
    background-color: #333333;
    display: flex;
    flex-flow: row wrap;
    padding:10px;
    align-content: stretch;
    top:0;
    position:sticky;
    position:-webkit-sticky;
    z-index: 999;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .site-title {
    margin: 0 0 0 20px;
    display: flex;
    flex-flow:row wrap-reverse;
    justify-content: flex-start;
    font-family: 'Dosis', sans-serif;
    align-content: center;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
  }
  
  .site-title a {
    padding:0;
  }
  
  nav {
    background-color: #333333;
    display: inline-flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    font-family: 'Dosis', sans-serif;
  }
  
  .nav-links {
    display: inline-flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
  
  }
  
  .nav-link-item {
    padding-right: 2rem;
  }
  
  .nav-link-item a {
   text-decoration: none;
  }
  
  .nav-link-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFCC00;
  }
  
  .nav-link-text:hover {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
  }
  
  
}
