@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

.hero {
  display: flex;
  height: 89vh;
  flex-flow: row wrap-reverse;
  align-items: stretch;
  background-color: #333;
  background-image: url(../images/happiness.svg);
  background-size: 100%;
    background-repeat: no-repeat;
    background-position: -200px 5px;
    overflow: hidden;
}
.hero-item1{
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 150px 0 0 0;
}

.hero-item2{
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-end;
}

.cnc-container{
  background-color: black;
  padding:20px 25px;
  height:80px;
}