.hero {
  display: flex;
  height: 100vh;
  flex-flow: row wrap-reverse;
  align-items: stretch;
  background-color: #333;
  background-image: url(../images/happiness2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -200px 50px;
  overflow: hidden;
}
.hero-item1{
  display: flex;
  flex-flow: row;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: center;
}

.hero-item2{
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  align-items: center;
  padding:80px 0 0 0;
}

.cnc-container{
  background-color: black;
  padding:20px 45px;
  height:80px;
  border-radius: 0 20px 20px 0;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .hero {
    display: flex;
    flex-flow:column;
    background-size:1000px;
    background-position: -225px 40px;
    padding-top: 240px;
    height:60vh;
    overflow: hidden;
  }

  .hero-item1{
    display: block;
    flex-grow: 0;
  }

  .cnc-container{
    margin:0;
    border-radius:0;
    height: auto;
    text-align: center;
  }

  .hero-item2 {
    align-items: flex-start;
    justify-content: center;
    padding: 130px 100px 0 100px;
  }
}


@media (min-width: 320px) and (max-width: 767.98px){
  .hero {
    display: flex;
    flex-flow:column;
    background-size:500px;
    background-position: -135px 20px;
    height:50vh;
    padding-top: 100px;
  }

  .hero-item1{
    align-items: flex-end;
  }

  .cnc-container{
    margin:0;
    border-radius:0;
    height: auto;
  }

  .hero-item2 {
    align-items: flex-start;
    justify-content: center;
    padding: 60px 100px 0 100px;
  }

}