.hero {
  display: flex;
  height: 100vh;
  flex-flow: row wrap-reverse;
  align-items: stretch;
  background-color: #333;
  background-image: url(../images/happiness2.png);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: 0px 30px;
  overflow: hidden;
}

.hero-item1{
  display: flex;
  flex-flow: row;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: center;
  margin-top: 75px;
}

.hero-item2 {
  display: flex;
  flex-flow: row;
  flex-grow: 2;
  justify-content: flex-start;
  align-items: center;
  padding:150px 0 0 0;
}

.cnc-container{
  background-color: black;
  padding:20px 45px;
  height:80px;
  border-radius: 0 20px 20px 0;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .hero {
    display: flex;
    flex-flow:column;
    background-size:100%;
    background-position: 0px 75px;
    overflow: hidden;
  }

  .hero-item1{
    display: block;
    flex-grow: 0;
  }

  .cnc-container{
    margin: 200px 0 0 0;
    border-radius:0;
    height: auto;
    text-align: center;
    
  }

  .hero-item2 {
    align-items: flex-start;
    justify-content: center;
    padding: 130px 100px 0 100px;
  }
}


@media (min-width: 375px) and (max-width: 767.98px){
  .hero {
    display: flex;
    flex-flow:column;
    background-size:100%;
    background-position: 0px 20px;
    height: fit-content;
  }

  .hero-item1{
    align-items: flex-end;
    margin-top: 110px;
  }

  .cnc-container{
    margin:0;
    border-radius:0;
    height: auto;
    padding: 20px 18px;
  }

  .hero-item2 {
    align-items: flex-start;
    justify-content: center;
    padding: 60px 100px 0 100px;
  }

}