.intro-section {
  display: flex;
  flex-flow:row nowrap;
  background-color: #333;
  padding: 50px 0;
  justify-content: space-evenly;
}

.intro-text{

}

.middle-text{
  display: flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.intro-text p{
  color:#CCCCCC;
  font-size: 3rem;
  margin: 0;
}

.middle-text h1{
  font-family: 'Dosis', sans-serif;
  font-size: 9rem;
  font-weight: 800;
  margin:0 0 100px 0;
}

.middle-text p{
  font-family: 'Dosis', sans-serif;
  color:#CCCCCC;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  max-width:700px;
  margin: 0 0 50px 0;
}

.middle-text h3 {
  font-family: 'Dosis', sans-serif;
  color:#CCCCCC;
  font-size: 3rem;
  font-weight: 600;
}

.middle-text button{
  margin-top:150px;
  color:black;
  font-size: 1.5rem;
  width: 300px;
  padding: 20px 0px;
}

.middle-text button:hover{
  color:#fff;
}

.pink {
  color: #ff44a9;
}

.purple {
  color: #856ffb;
}

.green {
  color: #45d8dd;
}

.yellow {
  color:#F2B21B;
}

.side-star{
  display: flex;
  flex-flow:column;
  flex-grow: 1;
}

.side-star-start{
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 110px;
}

.side-star-middle{
  display: inline-flex;
  justify-content: center;
  margin-bottom: 110px;
}

.side-star-end{
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 110px;
}

@media (min-width: 320px) and (max-width: 767.98px){
  .middle-text p {
    font-size: 1.85rem;
    text-align: center;
    max-width:700px;
    line-height: 50px;  
    margin: 0 0 50px 0;
  }

  .middle-text{
    padding: 0 20px 0px;
  }

  p.two {
    font-size: 1.7rem;
  }

  .side-star{
    display: none;
  }

}
