.intro-section {
  display: flex;
  flex-flow:column nowrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding-bottom: 500px;
}

.intro-section h1{
  font-family: 'Dosis', sans-serif;
  font-size: 5rem;
  font-weight: 800;
  padding-bottom: 500px;
}

.intro-section p{
  font-family: 'Dosis', sans-serif;
  color:#CCCCCC;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  max-width:700px;
  line-height: 70px;
  padding-bottom: 500px;
}

.intro-section h3 {
  font-family: 'Dosis', sans-serif;
  color:#CCCCCC;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 500px;
}

.pink {
  color: #ff44a9;
}

.purple {
  color: #856ffb;
}

.green {
  color: #45d8dd;
}

.yellow {
  color:#F2B21B;
}
