@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

nav {
  display: flex;
  flex-flow:row nowrap;
  background-color: black;
  height: 80px;
  font-family: 'Dosis', sans-serif;
}

.nav-links {
  text-transform: lowercase;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}

.nav-link-item a{
 text-decoration: none;
}

.nav-link-text {
  color: #fff;
}

