.swiper {
  display: flex;
  flex-flow: column-reverse;
  margin:0;
  overflow: visible;
}

.swiper-pagination-horizontal{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.swiper-pagination{
  position:initial;
}



.custom-bullet {
  background-color: #333333;
  opacity: 0.5;
  border-radius: 20px;
  margin:5px;
  width: 30px;
  height: 30px;
}

.custom-bullet-active {
  opacity: 100%;
  background: #45d8dd;
}