.swiper {
  display: flex;
  flex-flow: column-reverse;
  margin:0;
}

.swiper-pagination-horizontal{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.swiper-pagination{
  position:initial;
}


.custom-bullet {
  background-color: #000;
  opacity: 0.5;
  border-radius: 20px;
  margin:5px;
  width: 30px;
  height: 30px;
}

.custom-bullet-active {
  opacity: 100%;
  background: #856ffb;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .swiper-pagination{
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767.98px){
  .swiper-pagination{
    display: none;
  }
}