@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: 'Dosis', sans-serif;
  background-color: #333333;
}

a {
  text-decoration: none;
}

.page-container {
  display:flex;
  flex-direction: column;
  }


 .post-container {
    display: flex;
    padding:10px 15px;
    align-items: stretch;
    gap:20px;
 } 

 .post{
    display:flex;
    flex-direction: column;
    background-color: black;
    padding: 15px;
    margin:0;
    border-radius: 20px;
 }

 .post .hero_image{
  border-radius: 15px;
}

.post h2 {
  font-size: 3rem;
  margin: 25px 0 35px 0;
}


.post-content {
  padding:10px 20px;
}

.post-content h2{
  font-size: 2rem;
}

.post-content h3{
  color:#856ffb;
  font-size: 1.75rem;
}

 .post-content p {
   color:#FFFFFF;
   font-size: 1.5rem;
 }

 .post-content p a{
  color:#45d8dd;
  text-decoration: none;
 }

 .post .post-content hr, .sidebar hr {
   margin:20px 0 25px 0;
   color:#ff44a9;
   font-weight: 600;
 }

 .post-content ol li, .post-content ul li {
  color:#FFFFFF;
  font-size: 1.75rem;
 }

 .post-content ol li a, .post-content ul li a{
   color:#45d8dd;
   text-decoration: none;
   font-weight: 500;
 }

 .post-content ol li a:hover, .post-content ul li a:hover{
  color:#856ffb;
  text-decoration: none;
  font-weight: 500;
}

video{
  max-width:80%;
  display: block;
  margin: 0 auto 20px auto;
  padding:10px;
  background-color: #333333;
  border-radius: 20px;
}

.portfolio-image{
  display: block;
  margin: 0 auto;
}

.portfolio-image img{
  width:100%;
  display: block;
  margin: 0 auto;
}

.portfolio-image2 img{
  width:70%;
  display: block;
  margin: 0 auto;
  background-color: #333333;
  padding: 25px;
  border-radius: 20px;
}

.portfolio-image3 img{
  width:70%;
  display: block;
  margin: 0 auto 15px auto;
  background-color: #333333;
  padding: 25px;
  border-radius: 20px;
}


.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
}

.gallery-item{
  background-color: #333333;
  padding: 15px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.gallery-item img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.gallery-item h2 {
  padding:0px;
  margin:20px 0 0 0;
}

.gallery-item h3 {
  padding:0px;
  margin:20px 0 0 0;
}

.gallery-item p {
  color:#FFFFFF;
  font-size: 1.5rem;
  padding:25px;
  margin:0;
  text-align: center;
}

.gallery-video {
}

.gallery-video video {
  width:100%;
  display: block;
  margin: 0 auto 20px auto;
}


.post blockquote {
  padding:10px;
}

.breadcrumb-container{
  display: flex;
  margin:20px 0 0 20px;
 } 

 .post-breadcrumb{
    display:flex;
    color:#ff44a9;
    font-weight: 600;
    font-size: 1.5rem;
 }

 .post-breadcrumb a{
  text-decoration: none;
   color:#45d8dd;
 }

 .post-breadcrumb a:visited{
  text-decoration: none;
  color:#856ffb;
}

 .sidebar{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    padding: 25px 15px;
    border-radius: 20px;
    flex-basis: 30%;
 } 

 .sidebar a {
   text-decoration: none;
 }

.sidebar-image{
  display: flex;
  border: #F2B21B 2px solid;
  border-radius: 50%;
  width: 200px;
  margin: 0 auto;
}

.sidebar ul {
  display:flex;
  flex-flow: row;
  gap: 25px;
}

.sidebar ul li {

}

.sidebar h2 {
  margin:0;
}

.sidebar p{
  color: #FFFFFF;
  padding:0 25px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 25px;
}

.sidebar button {
  display: block;
  margin: 15px auto;
  width:50%;
}

.sidebar input {
  display: block;
  margin:15px auto;
  width:90%;
  border-radius: 10px;
  height:35px;
}

p.sub-tag{
  font-size: 12px;
}

p.success{color:#45d8dd; font-weight: 300;}
p.error{color:#F2B21B; font-weight: 300;}


.tag-container {
  display:flex;
  flex-flow:row;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.tag-container button{
  background-color: #000;
  text-transform: lowercase;
  box-shadow: none;
}

nav.tag-container button a{
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}

nav.tag-container button:hover{
  background-color: #856ffb;
  box-shadow: none;
}

.tag-list {
  display:flex;
  flex-flow:row;
  padding: 0 25px;
}

.tag-list li {
  padding: 0 2px;
  list-style: none;
  background-color: #333;
  padding:5px 10px;
  border-radius: 5px;
  margin: 0 5px 0 0;
}

.tag-list li a{
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  
}

.tag-list li:hover{
  background-color:#856ffb;
}


.article-container{
display: grid;
grid-gap: 10px;
grid-template-columns: repeat(3,1fr);
padding: 15px;
}

.article-container h1{
  text-align: center;

}

.article {
  display: flex;
  flex-flow: column;
    flex-wrap: nowrap;
  flex-wrap: wrap;
  background-color: black;
  padding: 15px 15px;
  border-radius: 20px;
}

.article-content{
  color:#FFFFFF;
  padding: 10px;
}


.article-container h2, .article-container h2 a{
  font-family: 'Dosis', sans-serif;
  color: #F2B21B;
  text-align: left;
  font-size: 2rem;
  text-decoration: none;
}


article .thumbnail_img{
  border-radius: 10px;
  width:100%;
}

.article-content h2 {
  padding: 0 25px;
  margin: 0;
}

.article-content p{
  display: block;
  font-size: 1.5rem;
  padding: 0 25px 10px 25px;
}

.article-content button {
  margin: 0 25px;
}

.article-content a button{
  font-size: 1.5rem;
  bottom: 0;
  color:black;
  display: block;
  text-decoration: none;
  bottom: 0;
  width:50%;
}

h1{font-family: 'Dosis', sans-serif;
  color: #F2B21B;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 25px auto;}

@media (min-width: 375px) and (max-width: 810px){
  .post .hero_image{
    display: none;
  }

  .post-container {
    display: flex;
    flex-flow: column;
  }

  .article-container{  
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .article {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    background-color: black;
    padding: 15px 15px;
    border-radius: 20px;
  }  

  .article .thumbnail_img{
    width:100%;
    border-radius: 10px;
  }

  .article-content{
    display: block;
    padding:10px;
  }

  .article-content h2, .article-content h2 a, .article-content p {
    padding: 10px;
  }

  
  .article-content a button{
    font-size: 1.5rem;
    text-decoration: none;
    color:black;
    width:100%;
    margin:0;
  }

  .gallery {
  display: flex;
  flex-direction: column;
  }

  .article-container{  
    display: flex;
    flex-direction: column;
  }

  .sidebar-image{
    border-radius: 50%;
    -webkit-border-radius:50%;
    margin: 0 auto;
  }

  .tag-container {display:none;}

}