.projects-intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #856ffb;
}

.projects-intro h2 {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Dosis', sans-serif;
  font-size: 3rem;
  color:black;
  margin-bottom: 0;
  max-width: 700px;
}

.projects-intro p {
  display: flex;
  font-family: 'Dosis', sans-serif;
  color:#fff;
  margin-top: 0;
}

@media (min-width: 320px) and (max-width: 767.98px){
  .projects-intro {
    justify-content: center;
  }
  .projects-intro h2 {
    justify-content: center;
  }
  .projects-intro p {
    text-align: center;
  }
}