@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

.swiper-container {
  background-color: #856FFB;
  z-index: 0;
}

.swiper-slide-container {
  display: flex;
  flex-flow: row wrap;

}

.slide-left{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 1;
}


.slide-left-content {
  width: 500px;
  padding:0 20px;
}


.slide-left h2{
  font-family: 'Dosis', sans-serif;
  color:#fff;
  font-size: 2rem;
  margin:0 0 10px 0;
}

.slide-left p{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;   
  margin:0;
}

.slide-right{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

span.swiper-pagination-bullet {
  width: 50px;
  height: 50px;
}

span.swiper-pagination-bullet-active {
  background:#856FFB;
}