@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

.swiper-container {
  background-color: #856FFB;
}

.swiper-slide-container {
  display: flex;
  flex-flow: row wrap;

}

.slide-left{
  display: flex;
  flex-flow: column wrap;
  padding:0 25px 25px;
  flex-grow: 1;
  word-break: break-all;
}

.slide-left h2{
  font-family: 'Dosis', sans-serif;
  color:#fff;
  font-size: 2rem;
}

.slide-left p{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  width:400px;
  margin:0;
}

.slide-right{
  display: flex;
  flex-grow: 2;
}