.swiper-container {
  display: block;
  text-align: center;
  background-color: #856FFB;
  padding-block:min(10vh, 100px);
}

.swiper-container button {
  margin-top: 30px;
  margin-right: 0 auto;
  margin-left: 0 auto;
  width:300px;
  font-size: 1.5rem;

}

.swiper-slide-container {
  display: flex;
  flex-flow: row wrap-reverse;
  text-align: left;
}

.slide-left{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 1;
}


.slide-left-content {
  width: min(90vw, 500px)
}


.slide-left h2{
  font-family: 'Dosis', sans-serif;
  color:#fff;
  font-size: 2rem;
  margin:0 0 10px 0;
}

.slide-left p{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;   
  margin:0;
  padding-right:min(30px);
}

.slide-right{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
