@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

.testimonials-section{
  display: flex;
  flex-flow:column;
  background-color: #333;
  justify-content: center;
  align-items: center;
  padding:20px 0;
}

.testimonials-section h2{
  font-family: 'Dosis', sans-serif;
  color: #FFCC00;
  font-size: 3rem;
  margin: 0 0 10px 0;
}

blockquote{
  display: flex;
  flex-flow: column;
  border: #FFCC00 solid 2px;
  border-radius: 20px;
  padding:20px;
  background-color: black;
  width:80%;
}

blockquote p{
  font-family: 'Dosis', sans-serif;
  color:#CCCCCC;
  font-size: 1.25rem;
  text-align: center;
}

.quote-author{
  font-size: 1rem;
  color:#856FFB;
}
