@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

.testimonials-section{
  display: flex;
  flex-flow:column;
  background-color: #333;
  justify-content: center;
  align-items: center;
}

.testimonials-section h2{
  font-family: 'Dosis', sans-serif;
  color: #FFCC00;
  font-size: 3rem;
}

blockquote{
  display: flex;
  flex-flow: row;
  font-family: 'Dosis', sans-serif;
  border: #FFCC00 solid 2px;
  border-radius: 20px;
  padding:20px;
  color:#CCCCCC;
  font-size: 1rem;
}

blockquote:before {
  color: #FFCC00;
  font-family: 'Dosis', sans-serif;
  font-size: 3rem;
  content: open-quote;
}